@import 'tailwindcss';
@tailwind utilities;

@theme {
    --font-dancing: 'Dancing Script', cursive;
    --font-heading: "Libre Baskerville", serif;

    --background-dark: linear-gradient(to right, #434343 0%, black 100%);
    --background-golden: #FACC15;

    --color-primary: #274c77;
    --color-primaryDark: #9333EA;
    --color-secondary: #9333EA;
    --color-cyan: #22D3EE;
    --color-offwhite: #f7f4ea;
    --color-golden: #FACC15;
}

:root {
    --background-dark: linear-gradient(to right, #434343 0%, black 100%);
}

/* Apply background color to the body */
body {
    background: var(--background-dark);
    color: var(--color-offwhite);
    overflow-x: hidden;
}