@import 'tailwindcss';
@tailwind utilities;

/* Define your custom theme variables */
@theme {
    /* Font families */
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    --font-dancing: 'Dancing Script', cursive;
    --font-heading: "Libre Baskerville", serif;;

    /* Backgrounds */
    --background-dark: linear-gradient(to right, #434343 0%, black 100%);
    --background-golden: #FACC15;

    /* Colors */
    --color-primary:#274c77; 
    --color-primaryDark: #9333EA;
    --color-secondary: #9333EA; 
    --color-cyan: #22D3EE;
    --color-offwhite: #f7f4ea;
    --color-golden: #FACC15;

    /* Spacing */
    --spacing-1: 0.25rem;
    --spacing-2: 0.5rem;
    --spacing-3: 0.75rem;
    --spacing-4: 1rem;

    /* Breakpoints */
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
}

/* Example of adding custom base styles */
@layer base {
    body {
        background-image: var(--background-dark);
    }
    text {
        color: var(--color-offwhite);
    }
}


